@charset "UTF-8";
/*Обнулення*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Rubik:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  overflow-x: hidden;
  background: #FAFBFD;
  font-family: Poppins;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

[class*=__container] {
  max-width: 1059px;
  margin: 0 auto;
  padding: 0px 15px;
}

.button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button:hover {
  -webkit-box-shadow: 6px 5px 10px hsla(0, 95%, 58%, 0.7);
          box-shadow: 6px 5px 10px hsla(0, 95%, 58%, 0.7);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #ff2424;
}

.header {
  position: relative;
  z-index: 20;
  margin-top: 30px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media (max-width: 690px) {
  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.header__logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 690px) {
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.header__menu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #000000;
}
@media (max-width: 690px) {
  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__menu ul li {
  position: relative;
  cursor: pointer;
}
.header__menu ul li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #252525;
  height: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__menu ul li:hover::after {
  content: "";
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__button {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #FCFDFE;
  background: #4285F4;
  border-radius: 5px;
  padding: 14px 30px;
}
.header__button:hover {
  -webkit-box-shadow: 6px 5px 10px rgba(25, 113, 255, 0.5);
          box-shadow: 6px 5px 10px rgba(25, 113, 255, 0.5);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: #0a68ff;
}
@media (max-width: 690px) {
  .header__button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.main {
  position: relative;
  z-index: 5;
}

.section-1 {
  margin-top: 90px;
}
.section-1 .button {
  background: #EC5863;
  border-radius: 5px;
  padding: 14px 29px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #FCFDFE;
}
.section-1__container {
  position: relative;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-1__container::before {
  content: "";
  z-index: -18;
  background: #EC5863;
  border-radius: 30px 0px 0px 30px;
  position: absolute;
  width: 300px;
  height: calc(100% + 160px + 110px);
  top: -160px;
  right: -53px;
}
@media (max-width: 768.98px) {
  .section-1__container::before {
    width: 0;
  }
}
@media (max-width: 768.98px) {
  .section-1__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 547px;
  }
}
.section-1__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.section-1__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
@media (max-width: 435px) {
  .section-1__title {
    font-size: 30px;
  }
}
.section-1__title span {
  color: #4285F4;
}
.section-1__info {
  max-width: 350px;
  margin-top: 12px;
  margin-bottom: 24px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #616161;
}
.section-1__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}
@media (max-width: 768.98px) {
  .section-1__img {
    display: none;
  }
}
.section-1__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.link__container {
  margin-top: 67px;
}
.link__container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.link__text {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.link__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 126%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #B0B0B0;
}
.link__info {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 126%;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.section-2 {
  padding: 80px 0px 80px 0px;
  background: #FFFFFF;
}

.block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768.98px) {
  .block__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}
.block__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.block__img .img1 {
  max-width: 521px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media (max-width: 521px) {
  .block__img .img1 {
    width: 100%;
  }
}
.block__img .img1:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
.block__img img {
  max-width: 338px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block__text {
  max-width: 363px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.block__tile {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
@media (max-width: 435px) {
  .block__tile {
    font-size: 30px;
  }
}
.block__tile .span1 {
  color: #EC5863;
}
.block__tile span {
  color: #4285F4;
}
.block__info {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #616161;
}
.block__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #EC5863;
  border-radius: 5px;
  padding: 14px 29px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #FCFDFE;
}

.section-3 {
  margin-top: 103px;
}
.info {
  position: relative;
  max-width: 654px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 34px;
  padding: 30px 80px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
}
.info__decor {
  z-index: -10;
  top: -40px;
  left: 210px;
  position: absolute;
  width: 96.96px;
  height: 96.96px;
  background: #EC5863;
  border-radius: 30px;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
}
.info::after {
  z-index: -10;
  content: "";
  bottom: -20px;
  left: -20px;
  position: absolute;
  width: 65.75px;
  height: 65.75px;
  background: #EC5863;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.info::before {
  z-index: -10;
  content: "";
  bottom: -10px;
  right: -60px;
  position: absolute;
  width: 127.47px;
  height: 127.47px;
  background: #EC5863;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
@media (max-width: 600px) {
  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .info__decor {
    z-index: -10;
    top: -40px;
    left: 110px;
    position: absolute;
    width: 96.96px;
    height: 96.96px;
    background: #EC5863;
    border-radius: 30px;
    -webkit-transform: rotate(105deg);
            transform: rotate(105deg);
  }
}
.info__1 {
  display: -ms-grid;
  display: grid;
}
.info__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #EC5863;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}
.info__subtitle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.section-4 {
  padding: 80px 0px 80px 0px;
  background: #FFFFFF;
}
.section-4__title {
  text-align: center;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 126%;
  text-align: center;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
}
.section-4__title span {
  color: #EC5863;
}
@media (max-width: 767px) {
  .section-4__title {
    font-size: 30px;
  }
}
.section-4__subutitle {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 50px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #616161;
}
.row-section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .row-section-4 {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.row-section-4:first-child {
  position: relative;
}
.row-section-4:first-child::before {
  z-index: -10;
  content: "";
  position: absolute;
  width: 65.75px;
  height: 65.75px;
  background: #EC5863;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  bottom: -50px;
  left: -30px;
}
.row-section-4:first-child::after {
  z-index: -10;
  content: "";
  position: absolute;
  width: 96.96px;
  height: 96.96px;
  background: #EC5863;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: 60px;
  right: -30px;
}
.row-section-4__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
  padding: 37px 18px;
}
.row-section-4__block img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.row-section-4__title {
  margin-top: 60px;
  margin-bottom: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}
.row-section-4__info {
  max-width: 242px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #616161;
}

.footer {
  padding: 0px 0px 40px 0px;
  background: #FFFFFF;
}
.footer__container {
  width: 385px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
@media (max-width: 440px) {
  .footer__container {
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}